<!-- <p>
  about works!

</p> 
<!-- interpolation -->


<!-- <h1>
  {{9+4}}

</h1>
<h2>  {{name.toUpperCase()}}</h2>
<h3>{{MyMethod()}}</h3>


<h2>{{appStatus?"online":"offline"}}</h2>


<h2>{{appStatus?status1:status2}}</h2>
<!-- 
//property binding -->
<!-- <input type="text" [value]=name [disabled]="false" [hidden]="false">

<button btn-btn-sucess (click)="tpp()">tppp</button>
<div *ngIf="tp; else elseBlock">
    this block is run
</div>
<ng-template #elseBlock>
  <div>
   this block is not run
   </div>
</ng-template> --> --> -->


<!-- 

 <select (change)="onChange($event)">
  <option value="">select</option>
   <option value="java">Java</option>
  <option value="angular">Angular</option>
  <option value="python">Python</option>
 </select>


 <div [ngSwitch]="selectedValue">
  <p *ngSwitchCase="'java'">youselected java</p>
  
  <p *ngSwitchCase="'angular'">You selected Angular</p>

  <p *ngSwitchCase="'python'">You selected Python</p>

  <p *ngSwitchDefault>Please select something</p>

 </div> -->

<!-- 
<h1 *ngFor="let s of arrrr;index as i">
   {{i}}
  <p>{{s.name}}</p>
  <p>{{s.age}}</p>
  <p>{{s.city}}</p>
 
</h1> -->

<!-- ng container -->

<ng-container *ngIf="true">
  <h1>Hello</h1>
</ng-container>





