<h1>My App</h1>

<a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a> |
<a routerLink="/about" routerLinkActive="active">About</a> |
<a routerLink="/dashboard/profile" routerLinkActive="active">Profile</a> |
<a routerLink="/dashboard/settings" routerLinkActive="active">Settings</a> |
<a routerLink="/admin" routerLinkActive="active">Admin</a>|
<a routerLink="/prent" routerLinkActive="active">parent</a>|
<a routerLink="/child" routerLinkActive="active">child</a>|
<a routerLink="/templeteform" routerLinkActive="active">templeteform</a>|
<a routerLink="/binding" routerLinkActive="active">binding</a>|
<a routerLink="/structualdirective" routerLinkActive="active">structualdirective</a>|
<a routerLink="/ReactiveformComponent" routerLinkActive="active">reactiveform</a>|
<a routerLink="/getapi" routerLinkActive="active">getapi</a>|
<a routerLink="/postapi" routerLinkActive="active">postapi</a>|
<a routerLink="/parent" routerLinkActive="active">parentapi</a>|
<a routerLink="/child" routerLinkActive="active">childapi</a>|

<hr>


<router-outlet></router-outlet>